h1 {
    font-size: 30px;
    text-align: left;
    color: navy;
    margin-left: 25px;
    margin-top: 25px;
    
  }
  
  .example {
    margin-top: 580px;
  
  }
  
  h2 {
    text-align: bottom;
    font-size: 85px;
    font-weight: lighter;
    margin-bottom: -10px;
    }
  
  .navy-box {
    position: relative;
    top: 0px;
    right: 50px;
    background: navy;
    width: 150vh;
    height: 25vh;
    margin-bottom: -1vh;
    z-index: 20;
    
    
  }
  
  ul {
    margin-right: 30px;
    list-style: none;
    display: flex;
    float: right;
    padding-bottom: 0vh;
  }
  
  ul li {
    padding: 2vh;
    color: navy;
    font-size: 20px;
    font-weight: bold;
    
  }
  
  img { 
    position: absolute;
    top:200px;
    right: 0px;
    width: auto;
    z-index: 60;
    
  }