h1 {
    text-align: left;
    color: navy;
  }
  
  .example {
    margin-top: 520px;
  
  }
  
  h2 {
    text-align: bottom;
    font-size: 85px;
    font-weight: lighter;
    margin-bottom: -25px;
    }
  
  .navy-box {
    position: relative;
    background: navy;
    width: 150vh;
    height: 25vh;
    margin-bottom: -1vh;
    z-index: 50;
    
  }
  
  ul {
    list-style: none;
    display: flex;
    float: right;
    padding-bottom: 0vh;
  }
  
  ul li {
    padding: 1vh;
    color: navy;
    font-weight: bold;
    
  }
  
  body {
    position: relative;
    background-image: url("../img2/firstview.jpeg");
    background-repeat: no-repeat;
    background-position: right; 
    z-index: 60;
  }